<nav>
    {% assign links = site.data.navigation %}
    {% for link in links %}
        {% assign class = nil %}
        {% if page.url contains link.url %}
            {% assign class = 'active' %}
        {% endif %}
        {% if link.sublinks %}
            <div class="subnav">
              <button class="subnavbtn">{{ link.title }} <i class="fa fa-caret-down"></i></button>
              <div class="subnav-content">
                {% for sublink in link.sublinks %}
                    {% if sublink.title == 'separator' %}
                        <li role="separator" class="divider"></li>
                    {% else %}
                        <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                    {% endif %}
                {% endfor %}
              </div>
            </div>
        {% else %}
            <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
        {% endif %}
    {% endfor %}
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
</nav>

