<nav class="main-nav">
  <ul>
    {% for nav in site.data.nav %}
      {% if nav.subcategories != null %}
        <li>
          <a href="{{ site.url }}{{ nav.link }}">{{ nav.name }} ▼</a>
          <ul>
          {% for subcategory in nav.subcategories %}
            <li><a href="{{ site.url }}{{ subcategory.sublink }}">{{ subcategory.subname }}</a></li>
          {% endfor %}
          </ul>
        </li>
      {% elsif nav.name == page.title %}
         <li class="active">
           <a href="{{ nav.link }}">{{ nav.name }}</a>
         </li>
      {% else %} 
        <li>
          <a href="{{ site.url }}{{ nav.link }}">{{ nav.name }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav> 
